<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <div class = "main w-full min-h-screen bg-zinc-900 text-white">
        <a href = "/"><img class = "w-10 h-10" src="https://www.svgrepo.com/show/18507/back-button.svg"></a>
        <h1 class = "p-10 ">Filename = <%=filename %></h1>
        <h1 class = "p-10"><%= content %></h1>
    </div>
</body>
</html>